
# Python
__pycache__/
*.py[cod]
*$py.class


# Virtual Environment
env/
venv/
.venv/


# Environment Variables
.env
.env.*
!.env.example


# VS Code
.vscode/


# PyCharm
.idea/


# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/


# Build / Distribution
build/
dist/
*.egg-info/


# Jupyter
.ipynb_checkpoints/


# OS Files
.DS_Store
Thumbs.db


# Logs
*.log